<div>
    <h5>Overdue</h5>
    <h6 id="count-overdue"><%= overdues.length %></h6>
  <ul class="list-none">
  <% for(let i = 0; i < overdues.length; i++){  %>
      <li class="Todo-Item">
          <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
              <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-300 rounded" id="todo-checkbox-<%= overdues[i].id %>" <%= overdues[i].completed ? "checked" : "" %> >  
              <label for="todo-checkbox-<%= overdues[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer" onclick="checkhandle(<%= overdues[i].id %>,<%= overdues[i].completed %>)"><%= overdues[i].title %></label>        
              <a href="" class="Todo-icon ml-2" onclick="deletehandle(<%= overdues[i].id %>)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
            </a>
            
          </div>
            
      </li>
  <% } %>
  </ul>
  <h5>Due Today</h5>
  <h6 id="count-due-today"><%= todaydues.length %></h6>
  <ul class="list-none">
      <% for(let i = 0; i < todaydues.length; i++){  %>
          <li class="Todo-Item">
              <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                  <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-300 rounded" id="todo-checkbox-<%= todaydues[i].id %>" <%= todaydues[i].completed ? "checked" : "" %> >  
                  <label for="todo-checkbox-<%= todaydues[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer" onclick="checkhandle(<%= todaydues[i].id %>,<%= todaydues[i].completed %>)"><%= todaydues[i].title %></label>        
                  <a href="" class="Todo-icon ml-2" onclick="deletehandle(<%= todaydues[i].id %>)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </a>
              </div>
          </li>
      <% } %>
  </ul>
  <h5>Due Later</h5>
  <h6 id="count-due-later"><%= laterdues.length %></h6>
  <ul class="list-none">
      <% for(let i = 0; i < laterdues.length; i++){  %>
          <li class="Todo-Item">
              <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                  <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-300 rounded" id="todo-checkbox-<%= laterdues[i].id %>" <%= laterdues[i].completed ? "checked" : "" %> >  
                  <label for="todo-checkbox-<%= laterdues[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer" onclick="checkhandle(<%= laterdues[i].id %>,<%= laterdues[i].completed %>)"><%= laterdues[i].title %></label>        
                  <a href="" class="hidden Todo-icon ml-2" onclick="deletehandle(<%= laterdues[i].id %>)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </a>
              </div>
          </li>
      <% } %>
  </ul>
  
  <h5>Completed Items</h5>
  <h6 id="count-completed"><%= comptodos.length %></h6>
  <ul class="list-none">
      <% for(let i = 0; i < comptodos.length; i++){  %>
          <li class="Todo-Item">
              <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                  <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-300 rounded" id="todo-checkbox-<%= comptodos[i].id %>" <%= comptodos[i].completed ? "checked" : "" %> >  
                  <label for="todo-checkbox-<%= comptodos[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer" onclick="checkhandle(<%= comptodos[i].id %>,<%= comptodos[i].completed %>)"><%= comptodos[i].title %></label>        
                  <a href="" class="Todo-icon ml-2" onclick="deletehandle(<%= comptodos[i].id %>)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </a>
              </div>
          </li>
      <% } %>
  </ul>
  </div>